@import "../_variables";

.bm_footer{
  position: relative;
  padding: 10px;
  color: #{$link};
  font-size: 14px;
  font-size: .7rem;
  background: #{$bgGreen};
  p{
    line-height: 24px;
    line-height: 1.2rem;
    text-align: center;
  }
}