@import "../_variables";

.bm_sort_wrap{
  position: relative;
  width: 80%;
  margin: 0 auto 20px auto;
}

.bm_sort_head{
  padding: 10px 0;
  background-color: #{$bgGreen};
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-size: 1rem;
  font-weight: normal;
  border-color: #{$bgGreen};
}

.bm_sort_list{
  margin: 0;
  color: #{$linkGreen};
  .bm_list_item{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    &.active{
      color: #{$linkGreen};
      background-color: darken( $bgWhite, 5% );
    }
  }
}